html, body, header, main, footer, div, p, a, h2, button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;

    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

body {
    background: rgb(63,94,251);
    background: linear-gradient(180deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.container {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .container{
    flex-direction: column;
}
main {
    height: 100vh;
}
main .container{
    justify-content: space-around;
    margin-top: 40px;
}
main .container .blocos {
    background-color: rgb(112, 25, 25);
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.248);

    margin-bottom: 60px;
    width: 30px;
    height: 150px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
}
main .container .blocos .disco {
    border-radius: 50px;
    height: 20px;
}
main .container .blocos #disco1 {
    width: 120px;
    background-color: orangered;
}
main .container .blocos #disco2 {
    width: 100px;
    background-color: yellowgreen;
}
main .container .blocos #disco3 {
    width: 80px;
    background-color: purple;
}
main .container .blocos #disco4 {
    width: 60px;
    background-color: salmon;
}

main .container .modal {
   display: none;
   flex-direction: column;
   align-items: center;
   background-color: rgba(76, 0, 130, 0.275);

   position: fixed;
   height: 120vh;
   width: 100vw;
}
main .container .modal h2 {
    font-size: 36px;
    color: purple;
}
main .container .modal button {
    background-color: rgba(76, 0, 130, 0.7);
    margin-top: 20px;
    width: 120px;
    padding: 10px;
    border-radius: 10px;

    text-transform: uppercase;
    font-weight: 600;
    color: whitesmoke;
    cursor: pointer;
}
main .container .modal img {
    margin-top: 220px;
    margin-bottom: 40px;
    width: 280px;
    border-radius: 10px;
}

footer {
    width: 100%;
}
footer .container{
    justify-content: center;
}
footer .container .hudson{
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: indigo;
    font-size: 22px;
    font-variant: small-caps;
}
footer .container img {
    width: 120px;
    border-radius: 50%;
    border: 4px solid indigo;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.248);

}
footer .container a{
    color: indigo;
    font-variant: small-caps;
    font-size: 18px;
}
footer .container a:visited {
    color: purple;
}

.egg {
   display: none;
   flex-direction: column;
   align-items: center;
   background-color: black;

   position: fixed;
   height: 120vh;
   width: 100vw;
}
.egg img{
    margin-top: 220px;
    width: 720px;
}


/* TABLETS */
@media (min-width: 600px) {
    .container {
        flex-direction: row;
        width: 100%;
    }

    main {
        height: 600px;
        display: flex;
        justify-content: center;
    }
}

/* DESKTOPS */
@media (min-width: 1024px) {
    main .container .torre{
        margin-bottom: 0px;
    }

    main .container .blocos {
        margin-bottom: 0;
        cursor: pointer;
    }

    main .container .blocos:hover{
        background-color: brown;
        transition: all .2s;
    }

    footer .container a:hover {
        color: rgb(36, 36, 36);
    }

}
